.subtitle {
        font-size: 1.5em;
        color: #999;
}

.mainBody {
        margin-top: 50px;
}

.footer {
        position: fixed;
        bottom: 20px;
        color: #999;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
}